
* {  box-sizing: border-box; }

ul {
    list-style: none;
    border: none;
    background-color: lightskyblue;
    border-radius: 10px;
    width: 50%;
    height: 50px;
   /* margin: 10px 20px;*/
    position: relative;
    text-align: center;
    font-weight: 200;
    font-variant: all-petite-caps;
    font-size: large;
}

ul li ul {
    display: none;
    position: absolute;
}

ul li:hover ul {
    display: list-item;
    margin-top: 20px;
    margin-left: 3px;
    border-radius: 0 0 1px 1px;
    background-color: peachpuff;
    position: absolute;
    top: 10px;
    right: 85px;
}



li {
    float: left;
    text-align: center;
    font-weight: 300;
    font-variant: all-petite-caps;
    font-size: large;
    z-index: 100;
    width: 100px;
    margin-top: 10px;
    height: 35px;
    position: relative;
   /* display: inline-block;*/
    list-style: none;
}



li:hover {
    background-color: #b3d4fc;
    margin: 10px 10px;
    /*box-shadow: 1px 1px 1px azure;*/
    border-radius: 5px;
}

a {
 text-decoration: none;
}

/*.menu {
    border: none;
    background-color: darkseagreen;
    border-radius: 10px;
    width: 20%;
    height: 30px;
    margin: 10px 20px;
    position: relative;
    text-align: center;
    font-weight: 300;
    font-variant: all-petite-caps;
    font-size: large;
}

#opensubm {
    border: none;
    background-color: darkseagreen;
    border-radius: 0 0 10px 10px;
    width: 20%;
    height: 100px;
    margin: 10px 20px;
    position: relative;
    text-align: left;
    font-weight: 300;
    font-variant: all-petite-caps;
    font-size: large;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    display: none;
}

!*#opensubm:target {
    opacity: 100;
    pointer-events: auto;
    overflow: auto;
    display: inline-block;
}*!

li {

}
.mMenu {
    border: none;
    background-color: lightgray;
    border-radius: 10px;
    width: 65%;
    height: 50px;
    position: fixed;
    margin-top: 20px;
    margin-left: 100px;
}
*/