.pimg {
    width: 100%;
}

.pldata {
    display: block;
    color: #cccccc;
    background-color: transparent;
    font-family: "Arial Narrow";
    font-size: 1.3em;
    border: none;
    width: 100%;
    height: 90%;
}

.plinfo {
    color: white;
    font-family: "Arial Narrow";
    text-transform: full-width;
    text-align: justify;
}